.grid{
    margin-top: 1rem;
}

.arrow{
    width:200px;
}

.name{
    font-size:1.2rem;
    color:#0d2879;
}

.covid{
    color:#8F9BB3;
    font-size: 1rem;
}

.id{
    font-size: 0.5;
    background-color: #5DD45D;
    color:white;
    height: 20px;
    margin-left:20px;
}

.icons{
    border:#8F9BB3;
    border:1px solid #8F9BB3;
    color:#8F9BB3;
}

.phoneicon{
    color:blue;
}

.btn{
    text-align: center;
}

.live{
    background-color: #414040;
    color:#FFFFFF;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border:1px solid #414040;
}

.historic{
    background-color:#FFFFFF;
    color:#414040;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border:1px solid #414040;
    margin-left: -2px;
}

.date1{
    text-align: center;
}
.date{
    color:#8F9BB3;
    font-size: 0.8rem;
}