.content{
    background-color: #3E68A4;
    color:white;
    padding:20px;
    border-radius: 1rem;
}

.bpm{
    display: flex;
    justify-content: flex-end;
    color:#FFFFFF;
    font:Poppins,SemiBold;
    font-size:1.5rem;
}
.bpms{
    font-size: 0.8rem;
    color:#B6C1D9;
    margin-top: 0.5rem;
}
