.plethcontent{
    color:black;
    padding:20px;
    border-radius: 1rem;
}

.ninety{
    display: flex;
    justify-content: flex-end;
    color:#646F87;
    font:Poppins,SemiBold;
    font-size:1.5rem;
}

.percent{
    font-size: 0.8rem;
    color:#B6C1D9;
    margin-top: 0.5rem;
}
