.card{
    width:6rem;
    height:6rem;
    display: flex;
    flex-direction: column;
}

.subcontent{
   text-align: center;
   font-size: 1.5rem;
}

.subtext{
    text-align: center;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
}